@{
}
@model BooksViewModel

<h1>The Cool Online Bookstore</h1>

@foreach(Book b in Model.Books)
{
    <partial name="ProjectSummary" model="b"/>
}


<div page-skip="@Model.PageInfo" page-action="Index"></div>